@use "../abstracts/" as *;

body {
  font-size: fs(400);
  font-weight: $fw-400;
  font-family: $ff-sans;
  color: clr(neutral, 900);
  background-color: clr(neutral, 100);
  text-align: center;
}

// ? 為什麼要刪除？
// * 因為這些都可以使用 utilities 來處理
// .page-title {
//   color: $color-primary-400;
//   font-size: $fs-900;
//   margin-block: $size-32;
// }
